<nav class="float-left centered">
	<h1 id="logo">
		<a href="/index.html">
			<img src="/images/logo.png" alt="Alex Burrell" class="logo" />
		</a>
	</h1>

	<div class="logo-fun">
		<img class="hide" id="logo-smile" src="/images/logo_smile.png" alt="" />
	</div>

	<ul class="nav-links with-bullets serif black-links small">
		<li><a href="/mini-bio.html">Hi there! I'm Alex.</a></li>
		<li><a href="/sprint-rules.html">What's a "sprint"?</a></li>
		<li><a href="/future-sprints.html">Future sprint ideas</a></li>
		<li><a href="/things-ive-made.html">Other things I've made</a></li>
	</ul>
</nav>
